{% extends 'base.html' %}
{% block title %} | Staff Dashboard {% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Staff Dashboard</h1>
                <p class="lead">Manage Listings</p>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active">Staff Dashboard</li>
            </ol>
        </nav>
    </div>
</section>
<section class="py-4" id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome {{ user.first_name }}</h2>
                {% if staff_contact %}
                <p>Here are the property listings inquries</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staff_contact %}
                        <tr>
                            <td>{{ staff.id }}</td>
                            <td>{{ staff.listing }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>There are no inquiries</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="update-listing">

</section>
{% endblock %}