{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center">
                <h1 class="footer-logo">
                    <a href="{% url 'index' %}"><img src="{% static 'img/iconroof.png' %}" alt="Footer Logo"></a>
                </h1>
                <p><em>&copy; Bridge Property</em></p>
            </div>
            <div class="col-md-7 text-center">
                <div class="footer-nav">
                    <ul>
                        <li><a href="{% url 'about' %}#about">About</a></li>
                        <li><a href="{% url 'listings' %}#listings">Property Listings</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-center space-between">
            <p>
                Follow us:
                <!-- Facebook link opening in a new tab -->
                <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fab fa-facebook-square fa-lg"></i>
                </a>
                <!-- Twitter link opening in a new tab -->
                <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our twitter page (opens in a new tab">
                    <i class="fab fa-twitter-square fa-lg"></i>
                </a>
            </p>
        </div>
    </div>
</footer>