{% load static %}
<header>
        <section class="hero">
            <div class="texture-overlay"></div>
            <div class="container">
                <div class="row nav-wrapper">
                    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                        <a href="{% url 'index' %}"><img src="{% static 'img/iconsroofwhite.png' %}"
                                alt="Bridge Property Logo"></a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                        <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
                <div class="row hero-content">
                    <div class="col-md-12">
                        <h1 class="animated fadeInDown">Bridge Property Estate Agents</h1>
                        <h3>Find you dream house</h3>
                        <a href="{% url 'about' %}" class="use-btn animated fadeInUp">About</a>
                        <a href="{% url 'listings' %}" class="learn-btn animated fadeInUp">Property Listings</a>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-boxify">
                <nav>
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'listings' %}">Property Listings</a></li>
                    </ul>
                    <ul>
                        {% if user.is_authenticated %}
                            <li
                            {% if 'dashboard' in request.path %}
                            class="nav-item"
                            {% else %}
                            class="nav-item"
                            {% endif %}
                            ><a href="{% url 'dashboard' %}" class="nav-link">
                                Welcome {{ user.username }}
                            </a></li>
                            <li class="nav-item">
                                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                                    <i class="fas fa-sign-out-alt"></i>Logout
                                </a>
                                <form action="{% url 'logout' %}" id="logout" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden">
                                </form>
                            </li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
</header>