{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<section class="features-intro" id="canvas-basic">
    <div class="container-fluid">
        <div class="row">
            <div class="intro">
                <div class="features-info">
                    <h2>Recent Listings</h2>
                    <p>Search for the latest properties on the market.
                        We work with a range of developers and home builders
                        to deliver the best quality homes
                    </p>
                    <p><a href="{% url 'listings' %}#listings" class="arrow-btn">
                            Check our properties</a></p>
                </div>
                <div class="features-info">
                    <h2>What are you looking for?</h2>
                    <p>Our estate agents are trusted by thousands of buyers nationwide</p>
                    <p><a href="{% url 'about' %}#about" class="arrow-btn">Find out why</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Alerts -->
{% include 'includes/messages.html' %}

<section class="features-list" id="features">
    <div class="container">
        <h2 class="text-center mb-3">Latest Listings</h2>
        <div class="row">
            {% if listings %}
                {% for listing in listings %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card listing-preview">
                            <img class="card-img-top" src="{{ listing.photo.url }}">
                            <div class="card-img-overlay">
                                <h2>
                                    <span class="badge badge-secondary text-white">&euro;{{ listing.price | intcomma }}</span>
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="listing-heading text-center">
                                    <h4 class="text-primary">{{ listing.address }}</h4>
                                    <p>
                                        <i class="fas fa-map-marker text-secondary"></i> {{ listing.town }}
                                    </p>
                                </div>
                                <hr>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6">
                                        <i class="fas fa-th-large"></i> Sqm: {{ listing.sqm }}
                                    </div>
                                </div>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6">
                                        <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}
                                    </div>
                                    <div class="col-6">
                                        <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row py-2 text-secondary">
                                    <div class="col-6">
                                        <i class="fas fa-user"></i> {{ listing.estate_agent }}
                                    </div>
                                </div>
                                <div class="row text-secondary pb-2">
                                    <div class="col-6">
                                        <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}
                                    </div>
                                </div>
                                <hr>
                                <a href="{% url 'listing' listing.id %}#listing" class="btn btn-primary btn-block info-btn">More Info</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No Listings Available</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Form Section -->
<section class="search">
    <div class="container text-center">
        <div class="home-search p-5">
            <h1 class="display-4 mb-4">
                Search For Your New Home
            </h1>
            <div class="search-form">
                <form action="{% url 'search' %}">
                    <!-- Form Row 1 -->
                    <div class="form-row">
                        <div class="col-md-4 mb-3 kw">
                            <label class="sr-only">Keywords</label>
                            <input type="text" name="keywords" class="form-control" placeholder="Keyword (Living Room, Bedroom, etc)">
                        </div>
                    
                        <div class="col-md-4 mb-3 town">
                            <label class="sr-only">Town</label>
                            <input type="text" name="town" class="form-control" placeholder="Town">
                        </div>
                    
                        <div class="col-md-4 mb-3 province">
                            <label class="sr-only">Province</label>
                            <select name="province" class="form-control">
                                <option selected="true" disabled="disabled">Province (All)</option>
                                {% for key,value in province_choices.items %}
                                <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- Form Row 2 -->
                    <div class="form-row">
                        <div class="col-md-6 mb-3 bedrooms">
                            <label class="sr-only">Bedrooms</label>
                            <select name="bedrooms" class="form-control">
                                <option selected="true" disabled="disabled">Bedrooms (All)</option>
                                {% for key,value in bedroom_choices.items %}
                                <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                    
                            </select>
                        </div>
                        <div class="col-md-6 mb-3 max-price">
                            <select name="price" class="form-control" id="type">
                                <option selected="true" disabled="disabled">Max Price (Any)</option>
                                {% for key,value in price_choices.items %}
                                <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4 index-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="screenshots-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center">
                <h1>Bridge Property</h1>
                <div class="col-md-4">
                    <h3 class="info-section">Services</h3>
                    <p>Bridge Property offers a full range of Property Services
                        including Buying, Selling, Letting, Landlord, New Homes,
                        Commercial, Auction and Franchise services across Ireland.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="info-section">Research</h3>
                    <p>Bridge Property Research is regarded as one of Ireland’s
                        leading property market research teams producing data-centric
                        housing market research on all aspects of the residential
                        market over the last twenty years.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="info-section">News</h3>
                    <p>Stay up to date with the latest property news and opinions,
                        as well as helpful guides and top tips from Bridge Property
                        industry professionals</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="screenshots" id="screenshots">
    <div class="container-fluid">
        <div class="row">
            <ul class="grid">
                <li>
                    <figure>
                        <img src="{% static 'img/index1.jpg' %}" alt="Screenshot 01"
                        loading="lazy">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% url 'listings' %}#listings" class="single_image">
                                    <i class="fa fa-search"></i><br>
                                    <p>Search Homes</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'img/index2.jpg' %}" alt="Screenshot 02"
                        loading="lazy">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% url 'listings' %}#listings" class="single_image">
                                    <i class="fa fa-search"></i><br>
                                    <p>Search Homes</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'img/index3.jpg' %}" alt="Screenshot 03"
                        loading="lazy">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% url 'listings' %}#listings" class="single_image">
                                    <i class="fa fa-search"></i><br>
                                    <p>Search Homes</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{% static 'img/index4.jpg' %}" alt="Screenshot 04"
                        loading="lazy">
                        <figcaption>
                            <div class="caption-content">
                                <a href="{% url 'listings' %}#listings" class="single_image">
                                    <i class="fa fa-search"></i><br>
                                    <p>Search Homes</p>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
